<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post">
        <input type="text" name="order_id" placeholder="order_id" />
        <input type="text" name="R" placeholder="R" />
        <input type="text" name="C" placeholder="C" />
        <input type="text" name="II" placeholder="II" />
        <input type="text" name="M" placeholder="M" />
        <input type="text" name="E" placeholder="E" />
        <input  type="submit"/>
    </form>

</body>
</html>